 *{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: max-content;
 }

 html {
    scroll-behavior: smooth
    ;
 }

:root {
    --primaria: #4f46e5;
    --secudaria:#7c3aed;
    --escuro: #0f172a;
    --maisecuro: #0a0f1c; 
    --claro: #e2e8f0;
    --vidro: rgba(255,255,255,0.1);


}

body {
    background: #0a0f1c;
    background-color: var(--escuro);
    color: var(--claro);
    
}

.navegacao {
    position: fixed;
    background: rgba(255,255,255,0.1);
    width: 100%;
    z-index: 100%;
    padding: 1.5rem;

}

.menu {
 display: flex;
 justify-content: center;
 list-style:none;
 gap: 3rem;
}

.menu-link {
text-decoration: none;
color: var(--claro);
font-weight: 500;
position: relative;
padding: 0.5rem ;
}

.menu-link::before {
    content: ´´;
    height: 2px;
    width: 0%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, var(--primaria), var(--secudaria));
}

.menu-link:hover::after {
    width: 100%;

}

.cabecalho {
      min-width: 100vh;
      display: flex;
     justify-content: center;
     align-items: center;
    flex-direction: column;
    padding-top: 300px;
}

.container {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;    /* Centraliza verticalmente */
    height: 100%;
}

.foto-perfil {
  width: 200px;;
    height: 200px;
    box-shadow: 0 0 20px rgba(79, 70,229,0.3);
    border-radius: 50%;
    border: 4px solid var(--vidro);
    object-fit: cover;
    display:flex
}


h1 {
    font-size: 3.5rem;
    color:  white
    font-weight: bold;
    margin: 20px;
}

.cabecalho-sub-titulo {
    font: 1.5rem;
    color: var(--claro);
}

.sobre {
 padding: 6rem 2rem;
}

.sobre-titulo {
  font-size: 3rem;
 color: var(--claro);
 text-align: center;
}

.sobre-caixa {
   padding: 2rem;
max-width: 800px;
margin: 0 auto;
border-radius: 16px;
border: 1px solid var(--vidro);
backdrop-filter:blur (10px);
background:  rgba(255,255,255,0.05);
}

sobre-paragrafo {
 text-align: center;
 font-size: 1.5rem;

}

.projetos {


    padding: 6rem 2rem;


}

.projetos-caixa {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
gap: 2rem;
max-width: 1200px;
margin: 0 auto;

}


.projetos-card {
background: rgba(255,255,255,0.05);
border: 16px;
backdrop-filter: blur(5px);
border: 1px solid var(--vidro);
overflow: hidden;
transition: all 0.5s ease;
cursor: pointer;

}

.projetos-titulo {
 text-align: center;
 font-size: 2.5rem;
margin-bottom: 50px;
}

.projetos-card:hover {
box-shadow: 0 10px 20px rgba(79, 70,229,0.2);
transform: translateY(-10px);scale: 1.;
}

.projetos-imagem {
   height: 200px;
   width: 100%;
   object-fit: cover;
}

   .caixa-projetos {
    padding: 1.5rem;
}

.paragrafo-projetos {
color: rgba(266,232,240,0.8);
line-height: 1.25rem;

}

.info-projetos {
 margin-bottom: 5px;
}



.campo-form {
width: 100%;
padding: 1rem;
background-color: rgba(255,255,255,0.05);
border-radius: 8px;
color: var(--claro);
border: 1px solid var(--vidro);
outline: none;

}

.campo-form:focus {
border-color: var(--secudaria);
box-shadow: 0 0 10px rgba(79, 70,229,0.3);
}

.grupo-form {
    margin-bottom: 1.5rem;
}

.botao-form {

    color: var(--claro);
    background: linear-gradient( 45deg, var(--primaria), var(--secudaria) );
  padding: 1rem 2rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  width: 100%;
transition: all 0.5 ease;
}

.botao-form:hover{
    transform: translateY(-4px) ;
    box-shadow: 0 5px 15px rgba(79, 70,229,0.4);
}
